In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go
import plotly.io as pio

In [2]:
df = sns.load_dataset("iris")
df.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [3]:
df.rename(
    columns={
        "sepal_length": "sepal_length_lomba",
        "sepal_width": "sepal_width_mota",
        "petal_length": "petal_length_lomba",
        "petal_width": "petal_width_mota",
        "species": "species_jat",
    },
    inplace=True,
)
df.head()

,sepal_length_lomba,sepal_width_mota,petal_length_lomba,petal_width_mota,species_jat
0,5.1,3.5,1.4,0.2,setosa
1,4.9,3.0,1.4,0.2,setosa
2,4.7,3.2,1.3,0.2,setosa
3,4.6,3.1,1.5,0.2,setosa
4,5.0,3.6,1.4,0.2,setosa

In [4]:
from statistics import mode

for i in df["species_jat"].value_counts().index:
    print(f"The Central tendency matrix for {i}: ")
    print(
        df[df["species_jat"] == i][
            [
                "sepal_length_lomba",
                "sepal_width_mota",
                "petal_length_lomba",
                "petal_width_mota",
            ]
        ]
        .agg(["mean", "median", mode])
        .T
    )

    print("\n")

The Central tendency matrix for setosa:
                     mean  median  mode
sepal_length_lomba  5.006     5.0   5.1
sepal_width_mota    3.428     3.4   3.4
petal_length_lomba  1.462     1.5   1.4
petal_width_mota    0.246     0.2   0.2


The Central tendency matrix for versicolor:
                     mean  median  mode
sepal_length_lomba  5.936    5.90   5.5
sepal_width_mota    2.770    2.80   3.0
petal_length_lomba  4.260    4.35   4.5
petal_width_mota    1.326    1.30   1.3


The Central tendency matrix for virginica:
                     mean  median  mode
sepal_length_lomba  6.588    6.50   6.3
sepal_width_mota    2.974    3.00   3.0
petal_length_lomba  5.552    5.55   5.1
petal_width_mota    2.026    2.00   1.8

In [15]:
range_of_species = df["species_jat"].value_counts().index
for i in range_of_species:
    print(f"The range of {i} is: ")
    print(
        df[df["species_jat"] == i][
            [
                "sepal_length_lomba",
                "sepal_width_mota",
                "petal_length_lomba",
                "petal_width_mota",
            ]
        ]
        .agg(["min", "max", "std", "var"])
        .T
    )
    print("\n")

The range of setosa is:
                    min  max       std       var
sepal_length_lomba  4.3  5.8  0.352490  0.124249
sepal_width_mota    2.3  4.4  0.379064  0.143690
petal_length_lomba  1.0  1.9  0.173664  0.030159
petal_width_mota    0.1  0.6  0.105386  0.011106


The range of versicolor is:
                    min  max       std       var
sepal_length_lomba  4.9  7.0  0.516171  0.266433
sepal_width_mota    2.0  3.4  0.313798  0.098469
petal_length_lomba  3.0  5.1  0.469911  0.220816
petal_width_mota    1.0  1.8  0.197753  0.039106


The range of virginica is:
                    min  max       std       var
sepal_length_lomba  4.9  7.9  0.635880  0.404343
sepal_width_mota    2.2  3.8  0.322497  0.104004
petal_length_lomba  4.5  6.9  0.551895  0.304588
petal_width_mota    1.4  2.5  0.274650  0.075433